{% extends "base.html" %}
{% load static i18n %}

{% block css %}
<link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet"/>
{{ block.super }}
{% endblock css %}

{% block javascript %}
{{ block.super }}
<script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
{% endblock javascript %}


{% block search_component %}<span class="block dark:text-primary text-font-darker font-extrabold text-2xl truncate leading-none">{{greeting}}, {% if request.user.is_authenticated %}{{request.user.username|title}}{% else %}Partner{% endif %}</span>{% endblock search_component %}


{% block content %}

<div
  id="map"
  class="map absolute w-full h-[calc(100%_-_3.5rem)] left-0 top-14 z-0"
></div>

{% endblock content %}

{% block inline_javascript %}
<script>
  mapboxgl.accessToken = "{{settings.MAPBOX_KEY}}";
  if (!mapboxgl.supported()) {
    alert("Your browser does not support Mapbox GL");
  } else {
    const map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/{% if dark %}dark-v9{% else %}streets-v8{% endif %}",
      center: [-114.233, 50.688],
      zoom: 3,
      pitch: 40,
    });

    //map.addControl(new mapboxgl.FullscreenControl(), "bottom-right");
    {% for r in all_radios %}
    var marker = new mapboxgl.Marker()
        .setLngLat([{{ r.long }}, {{ r.lat }}])
        .setPopup(new mapboxgl.Popup({offset:30})
        .setHTML(`
        <div data-index='{{forloop.counter}}' onclick='mapPlay(this)' class='flex max-w-full h-full text-font items-center justify-between space-x-15 cursor-default hover:bg-gray-800/10 py-2 px-4 rounded-lg group transition ease-out'>
          <div class='flex items-center max-w-[100%]'>
            <img src='{% if r.logo %}{{r.logo.thumbnail.url}}{% else %}{% static 'images/album.jpg' %}{% endif %}' alt='' height='48' width='48' objectFit='contain' class='rounded-xl h-10 w-10 object-contain mr-1' />
            <div class="p-2 w-[calc(100%_-_40px)]">
              <h2 class='font-black truncate text-md'>{{r.name|upper|truncatechars:21}}</h2>
              <p class='text-bold truncate text-xs'>
                {{ r.address|truncatewords:4 }}
              </p>
            </div>
          </div>
        </div>
        `))
        .addTo(map);
    {% endfor %}
  }
</script>
{% endblock inline_javascript %}
