{% extends "base.html" %}
{% load static i18n model_name %}

{% block search_component %}
<div class="hidden md:flex items-center min-w-full max-w-6xl max-h-min rounded-full px-2 space-x-2 bg-white-bg dark:bg-font">
  <div class="h-6 w-6 flex-none justify-center">
    <svg class="w-6 font-black h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
  </div>
  {% csrf_token %}
  <input
      type="text"
      hx-post="{% url 'podcast:search' %}"
      hx-target="#search_result"
      hx_trigger="keyup delay:200ms"
      name="q"
      hx-swap="innerHTML"
      placeholder="Search Podcasts, OAP or Category"
      class="cursor-pointer bg-white-bg dark:bg-font max-h-1/3 rounded-full w-full border-none focus:ring-0 outline-none focus:animate-none animate-pulse placeholder-inherit text-xl font-black"
    />
</div>
{% endblock search_component %}


{% block content %}

<div
  class="relative w-full h-[calc(100%_-_1.5rem)] md:h-[calc(100%_-_3.5rem)] p-4 space-y-3 scrollbar-hide overflow-y-scroll"
>
  {% csrf_token %}
  <!-- search bar -->
  <div class="shadow-sm flex md:hidden items-center w-full max-h-min rounded-full bg-white-bg dark:bg-font space-x-2">
    <div class="h-6 w-6 flex-none justify-center">
      <svg class="w-6 font-black h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
    </div>

    <input
        type="text"
        hx-post="{% url 'podcast:search' %}"
        hx-target="#search_result"
        hx_trigger="keyup delay:200ms"
        name="q"
        hx-swap="innerHTML"
        placeholder="Search Podcasts, OAP or Category"
        class="cursor-pointer bg-white-bg dark:bg-font max-h-1/3 rounded-full max-w-sm hover:max-w-sm focus:max-w-2xl md:w-4xl border-none focus:ring-0 outline-none focus:animate-none animate-pulse placeholder-inherit text-xl font-black"
      />
  </div>



  <div id="search_result" class="w-full h-full md:h-[calc(100%_-_2rem)] flex-col space-y-2 overflow-y-scroll scrollbar-hide">
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 gap-4">
    {% for obj in genres %}
        <div class="overflow-hidden relative w-full h-full p-4 rounded-md aspect-[1/1] uppercase font-2xl" style="background-color:{{obj.color|lower}};">
          <div class="my-auto w-full h-full block self-center text-4xl font-black">{{obj.name|upper}}</div>
          <img src="{% if obj.get_most_popular.image.thumbnail %}{{obj.get_most_popular.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.get_most_popuar.name|title}} image" class="z-10 h-2/4 w-2/4 object-contain rotate-45 absolute -bottom-5 -right-5 shadow-lg rounded-md">
        </div>
    {% endfor %}
    </div>
  </div>

</div>

{% endblock content %}

