{% extends "base.html" %}
{% load static i18n %}

{% block search_component %}<span class="hidden md:block dark:text-white-bg text-font-darker font-extrabold text-2xl truncate leading-none">{{greeting}}, {% if request.user.is_authenticated %}{{request.user.username|title}}{% else %}Partner{% endif %}. </span>{% endblock search_component %}

{% block content %}
<div class="w-auto h-full px-4 py-3 flex flex-col space-y-12 scrollbar-hide overflow-y-scroll">
  <div class="flex flex-col space-y-1 flex-none h-min py-1 w-auto">
    <div class="flex items-center justify-between py-2">
      <span class="text-xl">Top Rated Podcast</span>
    </div>
    <div class="scrollbar-hide flex items-center w-full h-min space-x-6 p-2 overflow-x-auto">
      {% for obj in popular_podcasts %}
        <a href="{{obj.get_absolute_url}}" class="rounded-md w-36 h-min shadow-md p-1 hover:shadow-lg hover:scale-105 duration-300">
            <div class="flex-col flex items-center space-y-1">
              <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-contain w-36 h-36 rounded-lg">
              <div class="flex-col text-left w-full px-2 truncate leading-none">
                <h2 class="font-black text-xl leading-none">{{obj.name|upper|truncatechars:16}}</h2>
                <p class="text-md leading-none">{{obj.author.username|title|truncatechars:16}}</p>
              </div>
            </div>
        </a>
      {% endfor %}
      </div>
  </div>

  {% if sleep_time and bedtime_podcasts %}
  <div class="flex flex-col space-y-1 flex-none h-min py-1 w-auto">
    <div class="flex items-center justify-between py-2">
      <span class="text-2xl font-black">Bed Time</span>
    </div>
    <div class="scrollbar-hide flex items-center w-full h-min space-x-6 p-2 overflow-x-auto">
      {% for obj in bedtime_podcasts %}
        <a href="{{obj.get_absolute_url}}" class="rounded-md w-36 h-min shadow-md p-1 hover:shadow-lg hover:scale-105 duration-300">
            <div class="flex-col flex items-center space-y-1">
              <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-contain w-36 h-36 rounded-lg">
              <div class="flex-col text-left w-full px-2 truncate leading-none">
                <h2 class="font-black text-xl leading-none">{{obj.name|upper|truncatechars:16}}</h2>
                <p class="text-md leading-none">{{obj.author.username|title|truncatechars:16}}</p>
              </div>
            </div>
        </a>
      {% endfor %}
      </div>
  </div>
  {% endif %}

  {% if moods_podcasts %}
  <div class="flex flex-col space-y-1 flex-none h-min py-1 w-auto">
    <div class="flex items-center justify-between py-2">
      <span class="text-2xl font-black">Moods Podcasts</span>
    </div>
    <div class="flex flex-none items-center overflow-x-scroll scrollbar-hide max-w-[100%] h-full space-x-4">
      {% for obj in moods_podcasts %}
      <a href="{{obj.get_absolute_url}}" class="rounded-md w-36 h-min shadow-md p-1 hover:shadow-lg hover:scale-105 duration-300">
        <div class="flex-col flex items-center space-y-1">
          <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-contain w-36 h-36 rounded-lg">
          <div class="flex-col text-left w-full px-2 truncate leading-none">
            <h2 class="font-black text-xl leading-none">{{obj.name|upper|truncatechars:16}}</h2>
            <p class="text-md leading-none">{{obj.author.username|title|truncatechars:16}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if podcast_documentary %}
  <div class="flex flex-col space-y-1 flex-none h-min py-1 w-auto">
    <div class="flex items-center justify-between py-2">
      <span class="text-2xl font-black">Podcast Documentaries</span>
    </div>
    <div class="flex flex-none items-center overflow-x-scroll scrollbar-hide max-w-[100%] h-full space-x-4">
      {% for obj in podcast_documentary %}
      <a href="{{obj.get_absolute_url}}" class="rounded-md w-36 h-min shadow-md p-1 hover:shadow-lg hover:scale-105 duration-300">
        <div class="flex-col flex items-center space-y-1">
          <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-contain w-36 h-36 rounded-lg">
          <div class="flex-col text-left w-full px-2 truncate leading-none">
            <h2 class="font-black text-xl leading-none">{{obj.name|upper|truncatechars:16}}</h2>
            <p class="text-md leading-none">{{obj.author.username|title|truncatechars:16}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
{% endblock content %}
