{% extends "base.html" %}
{% load static i18n humanize %}

{% block search_component %}<span class="hidden md:block dark:text-white-bg text-font-darker font-extrabold text-2xl truncate leading-none">{{object.name|title}}</span>{% endblock search_component %}

{% block content %}
<div x-data="{podcast_player:false}" class=" wrapper relative max-w-full h-screen -mt-20 text-black dark:text-white-200 overflow-y-scroll scrollbar-hide">
  <div class="flex-none bg-podcast-bg w-full h-min pt-24 px-4 pb-1 space-y-3">
    <div class="flex items-center space-x-2">
      <img src="{{object.image.thumbnail.url}}" alt="{{object.name}} cover photo" class="object-contain rounded-md md:w-32 md:h-32 w-20 h-20">
      <div class="flex-col leading-none p-0 -space-y-1">
        <h1 class="text-xl uppercase font-extrabold leading-none">{% if object.author.name %}{{object.author.name}}{% else %}{{object.author.username}}{% endif %}</h1>
        <h1 class="text-4xl md:text-6xl leading-none truncate">{{object.name}}</h1>
        <div class="flex items-center space-x-4" x-data="{pof_{{object.id}}:{% if user in object.like.all %}true{% else %}false{% endif %}}">
          {% if user.is_authenticated %}
          <button hx-post="{% url 'podcast:podcast_like' object.slug %}" hx-swap="outerHTML" hx-target="this" @click="pof_{{object.id}} = true" :class="pof_{{object.id}} ? 'hidden' : ''" type="button" class="rounded-full px-4 border pt-1 leading-none border-black dark:border-white-200 text-2xl hover:bg-black dark:hover:bg-white-200 hover:text-white-200 dark:hover:text-black duration-200">Follow</button>
          <button hx-post="{% url 'podcast:podcast_unlike' object.slug %}" hx-swap="outerHTML" hx-target="this" @click="pof_{{object.id}} = false" :class="pof_{{object.id}} ? '' : 'hidden'" type="button" class="rounded-full px-4 border pt-1 leading-none border-black dark:border-white-200 text-2xl bg-black dark:bg-white-200 dark:hover:text-white-200 text-white-200 hover:text-black dark:text-black hover:bg-transparent dark:hover:bg-transparent duration-200">Unfollow</button>
          {% else %}
          <span class="block text-2xl font-black slashed-zero">{{object.get_like_count|intword}} Follower{% if object.get_like_count > 1%}s{% endif %}</span>
          {% endif %}
          <svg class="w-6 h-6 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-col leading-none w-full h-min p-4 space-y-0 bg-gradient-to-b from-podcast-bg">
    <span class="text-2xl font-dark leading-none">About</span>
    <p class="text-md leading-none">{{object.description|safe|title}}</p>
    <div class="flex items-center space-x-3 overflow-x-scroll scrollbar-hide">
      {% for g in object.genre.all %}
      <a href="{{g.get_absolute_url}}" class="bg-black/40 dark:bg-white-200/30 uppercase text-white-200 w-24 text-center border-none shadow hover:scale-105 duration-200 rounded-full border pt-2 pb-1 leading-none text-md font-black">{{g.name|title}}</a>
      {% endfor %}
    </div>
  </div>
  <div id="playlist" class="flex-none w-full h-[calc(100%_-_7rem)] md:h-[calc(100%_-_17rem)] pb-4 px-4 space-y-2">
    {% for ep in object.podcast.all %}
    <div class="cursor-pointer dark:bg-black/40 bg-white-200/40 max-w-full p-2 flex items-start leading-none space-x-2 hover:bg-white-200/90 hover:shadow-md dark:hover:bg-black/90 dark:hover:shadow-md duration-200 rounded">
      <img src="{{ep.image.thumbnail.url}}" alt="{{ep.name|title}} photo" class="md:w-24 md:h-24 w-20 h-20 object-cover rounded-md">
      <div @click="timer_{{ep.id}} = ! timer_{{ep.id}}, podcast_player = true" x-data="{timer_{{ep.id}}:false}" li-index="{{ep.id}}" onclick="playpodcast(this)" class="list-group-item flex-col w-auto md:w-[calc(100%_-_5.8rem)] pr-4">
        <h3 class="text-2xl leading-none font-black">Ep.{{forloop.counter}} {{ep.name|title}}</h3>
        <p class="text-xl leading-none font-lighter truncate">{% if not request.user_agent.is_mobile %}{{ep.description|capfirst|safe|truncatechars:320}}{% else %}{{ep.description|capfirst|safe|truncatechars:80}}{% endif %}</p>
        <div class="flex items-center space-x-3 mt-2">
          <svg @click="timer_{{ep.id}} = ! timer_{{ep.id}}, podcast_player = true" class="play md:w-8 md:h-8 w-5 h-5 block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <p class="date text-xl font-black">{{ep.created|date:"M Y"}}</p>
          <!-- <div :class="timer_{{ep.id}} ? '' : 'hidden'" class="podcast-progress-area w-[40%] h-[4px] flex-none rounded-md dark:bg-white-bg bg-black cursor-pointer -mt-2">
            <div class="podcast-progress-bar flex items-center w-[0%] relative rounded-md">
              <audio id="podcast-audio-{{ep.id}}" src="{{ep.audio.url}}"></audio>
            </div>
            <div class="song-timer-{{ep.id}} flex items-center justify-between mt-[1px]">
              <span class="text-sm podcast-current-time-{{ep.id}} dark:text-primary text-live-bg">0:00</span>
              <span class="text-sm podcast-max-duration-{{ep.id}} dark:text-primary text-live-bg">{{ep.duration|floatformat:2}}</span>
            </div>
          </div> -->
        </div>
      </div>
      {% if not request.user.paid and not request.user.is_authenticated %}
      <a href="{{ep.audio.url}}" download="Ep_{{ep.id}}_{{ep.slug}}">
        <svg class="w-6 h-6 md:w-9 md:h-9 cursor-pointer text-podcast-bg hover:scale-90 duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"></path></svg>
      </a>
      {% endif %}
    </div>
    {% endfor %}
    {% for ep in object.podcast.all %}
    <div class="cursor-pointer dark:bg-black/40 bg-white-200/40 max-w-full p-2 flex items-start leading-none space-x-2 hover:bg-white-200/90 hover:shadow-md dark:hover:bg-black/90 dark:hover:shadow-md duration-200 rounded">
      <img src="{{ep.image.thumbnail.url}}" alt="{{ep.name|title}} photo" class="md:w-24 md:h-24 w-20 h-20 object-cover rounded-md">
      <div @click="timer_{{ep.id}} = ! timer_{{ep.id}}, podcast_player = true" x-data="{timer_{{ep.id}}:false}" li-index="{{ep.id}}" onclick="playpodcast(this)" class="list-group-item flex-col w-auto md:w-[calc(100%_-_5.8rem)] pr-4">
        <h3 class="text-2xl leading-none font-black">Ep.{{forloop.counter}} {{ep.name|title}}</h3>
        <p class="text-xl leading-none font-lighter truncate">{% if not request.user_agent.is_mobile %}{{ep.description|capfirst|safe|truncatechars:320}}{% else %}{{ep.description|capfirst|safe|truncatechars:80}}{% endif %}</p>
        <div class="flex items-center space-x-3 mt-2">
          <svg @click="timer_{{ep.id}} = ! timer_{{ep.id}}, podcast_player = true" class="play md:w-8 md:h-8 w-5 h-5 block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          <p class="date text-xl font-black">{{ep.created|date:"M Y"}}</p>
          <!-- <div :class="timer_{{ep.id}} ? '' : 'hidden'" class="podcast-progress-area w-[40%] h-[4px] flex-none rounded-md dark:bg-white-bg bg-black cursor-pointer -mt-2">
            <div class="podcast-progress-bar flex items-center w-[0%] relative rounded-md">
              <audio id="podcast-audio-{{ep.id}}" src="{{ep.audio.url}}"></audio>
            </div>
            <div class="song-timer-{{ep.id}} flex items-center justify-between mt-[1px]">
              <span class="text-sm podcast-current-time-{{ep.id}} dark:text-primary text-live-bg">0:00</span>
              <span class="text-sm podcast-max-duration-{{ep.id}} dark:text-primary text-live-bg">{{ep.duration|floatformat:2}}</span>
            </div>
          </div> -->
        </div>
      </div>
      {% if not request.user.paid and not request.user.is_authenticated %}
      <a href="{{ep.audio.url}}" download="Ep_{{ep.id}}_{{ep.slug}}">
        <svg class="w-6 h-6 md:w-9 md:h-9 cursor-pointer text-podcast-bg hover:scale-90 duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M9 19l3 3m0 0l3-3m-3 3V10"></path></svg>
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div :class="{'hidden':podcast_player === false, 'flex':podcast_player === true}" class="w-full md:w-[calc(100%_-_12rem)] hidden h-12 dark:bg-black/60 bg-white-bg/60 items-center justify-evenly p-2 space-x-2 fixed bottom-20 md:bottom-0 right-0 z-10">
    <div class="img-area w-8 h-8 rounded-md shadow overflow-hidden flex-none">
      <img class="object-cover w-full h-full" src="" alt="">
    </div>

    <div class="song-details w-[15%] h-8 leading-none flex-none text-left dark:text-primary text-live-bg">
      <p class="name leading-none text-lg font-black truncate"></p>
      <p class="artist leading-none text-sm"></p>
    </div>

    <div class="progress-area w-[35%] md:w-[65%] h-[8px] flex-none rounded-md dark:bg-white-bg bg-black cursor-pointer -mt-2">
      <div class="progress-bar flex items-center w-[0%] relative rounded-md">
        <audio id="main-audio" src=""></audio>
      </div>
      <div class="song-timer flex items-center justify-between">
        <span class="current-time dark:text-primary text-live-bg">0:00</span>
        <span class="max-duration dark:text-primary text-live-bg">0:00</span>
      </div>
    </div>

    <div class="controls w-auto flex items-center">
      <svg id="prev" class="mr-[13px] cursor-pointer shadow hover:scale-110 duration-200 w-6 h-6 dark:text-primary text-live-bg" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.445 14.832A1 1 0 0010 14v-2.798l5.445 3.63A1 1 0 0017 14V6a1 1 0 00-1.555-.832L10 8.798V6a1 1 0 00-1.555-.832l-6 4a1 1 0 000 1.664l6 4z"></path></svg>
      <div class="play-pause cursor-pointer flex items-center hover:scale-110 duration-200 justify-center rounded-full shadow">
        <svg class="w-8 h-8 dark:text-primary text-live-bg" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg>
      </div>
      <svg id="next" class="ml-[13px] cursor-pointer shadow hover:scale-110 duration-200 w-6 h-6 dark:text-primary text-live-bg" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z"></path></svg>
    </div>

    <svg @click="podcast_player = false" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  </div>
</div>
{% endblock content %}



{% block inline_javascript %}

<script>
  let sourceData = [
    {% for ep in object.podcast.all %}
    {
      id: "{{ep.id}}",
      name: "{{ep.name|title}}",
      img: "{{ep.image.thumbnail.url}}",
      author: "{% if ep.podcast.author.name %}{{ep.podcast.author.name|title}}{% else %}{{ep.podcast.author.username|title}}{% endif %}",
      index: "{{ep.id}}",
      class: "dur_{{ep.id}}",
      uri: "{{ep.audio.url}}",
      duration: "{{ep.duration|floatformat:2}}",
    },
    {% endfor %}
  ]
</script>

<script src="{% static 'js/podcast.js' %}"></script>
{% endblock inline_javascript %}


