{% load static i18n tailwind_tags unicorn %}
{% url 'home' as home_url %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_language_info_list for LANGUAGES as languages %}
<html lang="{{ LANGUAGE_CODE }}"  dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" class="max-w-full max-h-screen {% if dark %}dark{% endif %}" x-data="{dark:{{dark|lower}}}" :class="{'dark':dark === true, '':dark === false}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Radio Funk{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Online Radio & Podcasting Software" />
    <meta name="author" content="David Jeremiah" />
    <meta name="keywords" content="radio funk,Online radio,live podcast,make money from podcast,websites like spotify,earn from streaming audio files,{% block kw %}{% endblock kw%}">


    <link rel="icon" href="{% static 'images/favicons.svg' %}" type="image/svg" sizes="16x16" />



    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Source+Serif+4:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.3/dist/flowbite.min.css"/> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    {% endblock css %}
    <link rel="preload" href="{% static 'css/project.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    <!-- {% tailwind_preload_css %}
    {% tailwind_css %} -->

    <link href="{% static 'css/iziToast.min.css' %}" rel="stylesheet">






    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% unicorn_scripts %}


    {% block javascript %}
    <!-- Bootstrap JS -->
    <!-- Your stuff: Third-party javascript libraries go here -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- <script defer src="https://unpkg.com/flowbite@1.3.3/dist/flowbite.js"></script>
    <script defer src="https://unpkg.com/flowbite@1.3.3/dist/datepicker.js"></script> -->
    <script async src="https://kit.fontawesome.com/cb5449eda5.js" crossorigin="anonymous"></script>
    <script async src="https://apis.google.com/js/platform.js"></script>
    <script async defer type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script async nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- place project specific Javascript in this file -->
    <script defer src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script async src="https://unpkg.com/htmx.org@1.7.0"></script>
    {% endblock javascript %}





    {{ form.media }}



  </head>
  {% if request.path == home_url and device == "Mobile" %}
  <body onload="iziToast.show({'icon':'fa fa-info-circle', 'message':'Browse the map and search for your favorite radio stations. \nBe informed that the map starts from you location and suggests to you the nearest radio station you can listen to.', 'id':'error', 'title':'INFO', 'timeout': 50000, 'resetOnHover': true, 'balloon': true, 'position':'topRight'})" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-data="{sub_menu:false, playlist:false, m_lang_open:false, search:false, lang_open:false, notif:false, radio:false}" class="flex transition-all duration-300 ease-in-out max-w-[100vw] h-screen dark:bg-black/90 dark:text-gray-100 bg-white-200-bg text-font relative">
  {% elif request.path == home_url %}
  <body onload="iziToast.show({'maxWidth':'50%', 'icon':'fa fa-info-circle', 'message':'Browse the map and search for your favorite radio stations. \nBe informed that the map starts from you location and suggests to you the nearest radio station you can listen to.', 'id':'error', 'title':'INFO', 'timeout': 50000, 'resetOnHover': true, 'balloon': true, 'position':'topRight'})" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-data="{sub_menu:false, playlist:false, m_lang_open:false, search:false, lang_open:false, notif:false, radio:false}" class="flex transition-all duration-300 ease-in-out max-w-[100vw] h-screen dark:bg-black/90 dark:text-gray-100 bg-white-200-bg text-font relative">
  {% else %}
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' x-data="{sub_menu:false, playlist:false, search:false, lang_open:false, m_lang_open:false, notif:false, radio:false}" class="flex transition-all duration-300 ease-in-out max-w-[100vw] h-screen dark:bg-black/90 dark:text-white-200 bg-white-bg text-font relative">
  {% endif %}

    {% include 'snippets/sidenav.html' %}
    {% include 'snippets/rightnav.html' %}

    <main class="flex-auto flex flex-col max-h-screen max-w-full overflow-hidden relative pb-28 md:pb-4" @click="lang_open = false">
      <div class="shadow-md dark:bg-black bg-white-200 flex items-center w-full p-4 justify-between max-h-14 z-20 bg-">
        <div class="flex items-center space-x-5 leading-none w-auto">
          <div class="flex items-center space-x-3">
            {% if not device == "Mobile" %}
            <svg id="hback" onclick="back()" class="hidden md:flex w-6 h-6 fill-current cursor-not-allowed" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd"></path></svg>
            <svg id="hforward" onclick="forward()" class="hidden md:flex w-6 h-6 fill-current cursor-not-allowed" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"></path></svg>
            {% else %}
            <a href="/" class="md:hidden flex items-center space-x-1 w-full dark:text-white-200 text-font-darker">
              <h1 class="text-2xl font-extrabold dark:text-white-200 uppercase tracking-wider leading-none">Radio<span class="text-primary underline leading-none">funk</span></h1>
            </a>
            {% endif %}
          </div>
          {% block search_component %}{% endblock search_component %}
        </div>
        <div class="flex items-center space-x-4">
          <button @click="m_lang_open = ! m_lang_open" class="block cursor-pointer md:hidden focus:border-none border-none">
            <svg class="w-6 h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd"></path>
            </svg>
          </button>

          <button :class="{'':dark === true, 'hidden':dark === false}" x-on:click="dark = false, iziToast.error({'message':'Dark Mode Deactivated', 'id':'error', 'color':'red', 'title':'DARK MODE', 'timeout': 5000, 'resetOnHover': true, 'balloon': true,})" hx-put="{% url 'lmode' %}" hx-trigger="click" hx-swap="outerHTML" class="block" type="button">
            <svg class="w-6 h-6 text-font-darker dark:text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd"></path>
            </svg>
          </button>
          <button :class="{'hidden':dark === true, '':dark === false}" x-on:click="dark = true, iziToast.success({'message':'Dark Mode Activated', 'id':'success', 'color':'green', 'title':'DARK MODE', 'timeout': 5000, 'resetOnHover': true, 'balloon': true})" hx-post="{% url 'mode' %}" hx-trigger="click" hx-swap="outerHTML" class="block" type="button">
            <svg class="w-6 h-6 text-font-darker dark:text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
            </svg>
          </button>

          <div @click="notif = ! notif" class="flex items-center relative cursor-pointer transition-all duration-200">
            <svg class="w-6 h-6 dark:text-white-200 text-font-darker hover:shadow-xl" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path></svg>
            <div class="h-2 w-2 rounded-full bg-red-600 absolute border-2 dark:border-gray-800 border-white-200 top-0 right-1"></div>
          </div>
        </div>
      </div>
      <!-- TODO: convert this to notification component -->
      <div :class="{'right-4':notif === true, '-right-full':notif === false}" class="absolute z-20 p-4 top-14 -right-full dark:bg-black/80 bg-white-bg/80 w-52 h-min duration-200 ease-in-out shadow-xl rounded-b-lg md:flex md:flex-col space-y-4">
        <span class="block uppercase border-b-2 font-black dark:text-white-bg text-2xl text-left">notifications</span>
        <a href="/" class="flex items-center space-x-2 p-2 w-full h-min rounded-md hover:bg-white-200/10 leading-none">
          <div class="w-2/3">
            <span class="block text-xl font-black truncate">Notification Heading</span>
            <span class="block text-md font-light truncate">New podcast within your location has been added!</span>
          </div>
          <div class="w-1/3 text-right">
            <span class="block text-md font-black truncate uppercase">UNREAD</span>
            <span class="block text-sm font-light truncate">Now</span>
          </div>
        </a>
        <a href="javascript:;" class="w-full block uppercase bg-live-bg hover:bg-live-bg/70 dark:bg-primary dark:hover:bg-primary/70 text-white-200 dark:text-font-darker p-1 rounded-b-lg text-center duration-300">view all</a>
      </div>

      <!-- <div class="flex items-center space-x-2">
        {% for g in genres %}
        <p class="h-min p-2 rounded-full">{{g.name|title}}</p>
        {% endfor %}
      </div> -->

      {% block content %} {% endblock content %}

      <div :class="{'md:translate-x-2':lang_open === true, 'md:-translate-x-full':lang_open === false}" class="hidden md:flex bottom-3 transform -translate-x-full dark:bg-black/80 bg-white-bg/80 h-min py-2 px-4 shadow-xl rounded-lg absolute items-center space-x-4 z-20 duration-200 ease-in-out">
        {% for language in languages %}
        <!-- <a href="/{{language.code}}/?next=/{{language.code}}{{request.path|slice:'3:'}}" class="flex items-center space-x-2 hover:text-primary {% if LANGUAGE_CODE == language.code %}text-primary{% else %}{% if dark %}text-gray-50{% else %}text-font-darker{% endif %}{% endif %} transition-all duration-200 ease-in-out"> -->
        <a href="/{{language.code}}/" class="flex items-center space-x-2 hover:text-live-bg dark:hover:text-primary {% if LANGUAGE_CODE == language.code %}dark:text-live-bg text-live-bg{% else %} dark:text-white-200 text-font-darker {% endif %} transition-all duration-200 ease-in-out">
          <img class="fill-current" src="{% static 'images/flags/png/' %}{{ language.code }}.png" alt="{{ language.code }} flag" />
          <span class="font-black block">{{ language.code|upper }}</span>
        </a>
        {% endfor %}
      </div>

      <div :class="{'right-1':m_lang_open === true, '-right-full':m_lang_open === false}" class="flex md:hidden top-[59px] -right-full dark:bg-black/80 bg-white-bg/80 h-min py-2 px-2 shadow-xl rounded-lg absolute items-center space-x-4 z-20 duration-200 ease-in-out">
        {% for language in languages %}
        <!-- <a href="/{{language.code}}/?next=/{{language.code}}{{request.path|slice:'3:'}}" class="flex items-center space-x-2 hover:text-primary {% if LANGUAGE_CODE == language.code %}text-primary{% else %}{% if dark %}text-gray-50{% else %}text-font-darker{% endif %}{% endif %} transition-all duration-200 ease-in-out"> -->
        <a href="/{{language.code}}/" class="flex items-center space-x-2 hover:text-live-bg dark:hover:text-primary {% if LANGUAGE_CODE == language.code %}dark:text-primary text-live-bg{% else %} dark:text-white-200 text-font-darker {% endif %} transition-all duration-200 ease-in-out">
          <img class="fill-current" src="{% static 'images/flags/png/' %}{{ language.code }}.png" alt="{{ language.code }} flag" />
          <span class="font-black block">{{ language.code|upper }}</span>
        </a>
        {% endfor %}
      </div>

      <!-- playlist form -->
      <div @click="playlist = ! playlist" :class="{'max-w-0':playlist === false, 'w-screen':playlist === true}" class="duration-300 h-full absolute bg-black/70 top-0 left-0 justify-center items-center flex z-40">

      </div>
      <div :class="{'hidden':playlist === false, 'flex-col':playlist === true}" class="hidden z-50 absolute rounded-md left-[50%] top-[50%] transform -translate-x-1/2 -translate-y-1/2 md:w-[512px] w-[320px] h-min bg-white-bg/70 dark:bg-black/60 p-4 space-y-4">
        <h2 class="font-black text-4xl uppercase">create playlist</h2>
        <form action="" class="w-full space-y-2">
          <input placeholder="Playlist Title" type="text" class="focus:outline-none focus:border-none bg-white-bg dark:text-font appearance-none border-none w-full rounded py-2 px-3 leading-tight">
          <textarea placeholder="Playlist Description" class="focus:outline-none focus:border-none bg-white-bg dark:text-font appearance-none border-none w-full rounded py-2 px-3 leading-tight"></textarea>
          <div class="flex items-center justify-between space-x-2 text-black">
            <button type="reset" class="bg-primary hover:bg-primary/70 duration-300 uppercase font-black text-xl w-1/3 rounded p-2">reset</button>
            <a href="javascript:;" @click="playlist = ! playlist" class="bg-live-bg hover:bg-live-bg/70 text-center duration-300 uppercase font-black text-xl w-1/3 rounded p-2">close</a>
            <button type="submit" class="bg-podcast-bg hover:bg-podcast-bg/70 duration-300 uppercase font-black text-xl w-1/3 rounded p-2">create</button>
          </div>
        </form>
      </div>


      <div :class="{'bottom-[90px] flex':sub_menu === true, '-bottom-full hidden':sub_menu === false}" class="z-30 mx-auto rounded-t-xl hidden justify-evenly md:hidden flex-col items-center h-min w-[320px] bg-white-bg dark:bg-black absolute -buttom-full left-2 right-2 shadow transition-opacity ease-in-out duration-500">
        <div class="flex items-center justify-evenly w-full h-min">
          <a href="{% if user.is_authenticated %}{% url 'users:detail' request.user.username %}{% endif %}" class="hover:bg-black py-3 px-4 dark:hover:bg-white-bg hover:text-white-bg dark:hover:text-black space-y-1 flex items-center flex-col">
            <svg class="w-6 h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
            <span class="text-xl block font-black text-ellipsis overflow-hidden">{% trans 'Profile' %}</span>
          </a>
          <a href="javascript:;" class="hover:bg-black py-3 px-4 dark:hover:bg-white-bg hover:text-white-bg dark:hover:text-black space-y-1 flex items-center flex-col">
            <svg class="w-6 h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z"></path><path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            <span class="text-xl block font-black text-ellipsis overflow-hidden">{% trans 'Playlists' %}</span>
          </a>
          <a href="javascript:;" class="hover:bg-black py-3 px-4 dark:hover:bg-white-bg hover:text-white-bg dark:hover:text-black space-y-1 flex items-center flex-col">
            <svg class="w-6 h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
            <span class="text-xl block font-black text-ellipsis overflow-hidden">{% trans 'Settings' %}</span>
          </a>
        </div>
        <div class="flex items-center justify-evenly w-full h-min">
          <a href="javascript:;" @click="playlist = ! playlist, sub_menu = ! sub_menu" class="hover:bg-black py-3 px-4 dark:hover:bg-white-bg hover:text-white-bg dark:hover:text-black space-y-1 flex items-center flex-col">
            <svg class="w-6 h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z" clip-rule="evenodd"></path></svg>
            <span class="text-xl block font-black text-ellipsis overflow-hidden leading-none">{% trans 'Create' %}</span>
            <span class="text-xl block font-black text-ellipsis overflow-hidden leading-none">{% trans 'Playlist' %}</span>
          </a>
          <a href="javascript:;" class="hover:bg-black py-3 px-4 dark:hover:bg-white-bg hover:text-white-bg dark:hover:text-black space-y-1 flex items-center flex-col">
            <svg class="w-6 h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg>
            <span class="text-xl block font-black text-ellipsis overflow-hidden leading-none">{% trans 'Go' %}</span>
            <span class="text-xl block font-black text-ellipsis overflow-hidden leading-none">{% trans 'Live' %}</span>
          </a>
          <a href="{% if user.is_authenticated %}{% url 'account_logout' %}{% endif %}" class="hover:bg-black py-3 px-4 dark:hover:bg-white-bg text-red-600 space-y-1 flex items-center flex-col">
            <svg class="w-6 h-6 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
            <span class="text-xl block font-black text-ellipsis overflow-hidden">{% trans 'Logout' %}</span>
          </a>
        </div>
      </div>


    </main>


    {% block modal %}{% endblock modal %}
    <script src="{% static 'js/iziToast.min.js' %}"></script>

    <!-- Toast alert script -->
    {% for message in messages %}
    <script>
      //iziToast.{{ message.tags }}({

          iziToast.{{ message.tags }}({
            timeout: 5000,
            resetOnHover: true,
            position: 'bottomRight',
            drag: true,
            pauseOnHover: true,
            transitionIn: 'fadeInUp',
            transitionOut: 'fadeOutDown',
            transitionInMobile: 'fadeInUp',
            transitionOutMobile: 'fadeOutDown',
            close: true,
            displayMode: 2,
            progressBar: true,
            progressBarEasing: 'ease',
            color: '{% if message.tags == "success" %}green{% elif message.tags == "warning" %}yellow{% elif message.tags == "info" %}blue{% else %}red{% endif %}',
            icon: '{% if message.tags == "success" %}fa fa-thumbs-up{% elif message.tags == "warning" %}fa fa-exclamation-triangle{elif message.tags == "info"}fa fa-info-circle{% else %}fa fa-bug{% endif %}',
            balloon: true,
            id: '{{ message.tags }}',
            title: '{{ message.tags|capfirst }}',
            message: '{{ message }}',
          });
    </script>
    {% endfor %}



    <script>
      {% if not settings.PRODUCTION %}
        var home = "http://" + window.location.hostname + ":8000/{{LANGUAGE_CODE}}/"
      {% else %}
        var home = "https://" + window.location.hostname + "/{{LANGUAGE_CODE}}/"
      {% endif %}
    </script>


    {% block inline_javascript %}
    {% comment %} Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}



    <script>
      function audioPlay(div) {
        var audio = document.getElementById('audio');
        audio.src = div;
        audio.play();
      };

      let radioStations = [
      {% for r in all_radios %}
      {
          index: "{{r.id}}",
          name: "{{r.name|title}}",
          img: "{{r.image.thumbnail.url}}",
          src: "{{r.stream_url}}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
      ]
    </script>
    <script async src="{% static 'js/project.js' %}"></script>
  </body>
</html>























