{% load static i18n tailwind_tags heroicons %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="max-w-[100vw] max-h-[100vh]">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Radio Funk{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Online Radio & Podcasting Software" />
    <meta name="author" content="David Jeremiah" />

    <link rel="icon" href="{% static 'images/favicons.svg' %}" />

    {% block css %}

    {% if messages %}
    <!-- <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">    <link
    href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Public+Sans:wght@300;400&family=Paytone+One&Abril+Fatface&family=Architects+Daughter&family=Montserrat:wght@300;400;600;800&family=Playfair+Display:ital,wght@0,600;0,700;0,800;1,500&display=swap"
    rel="stylesheet"> -->
    {% endif %}

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.3/dist/flowbite.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}

    {% block javascript %}
    <!-- Bootstrap JS -->
    <!-- Your stuff: Third-party javascript libraries go here -->
    <script defer src="https://unpkg.com/flowbite@1.3.3/dist/flowbite.js"></script>
    <script defer src="https://unpkg.com/flowbite@1.3.3/dist/datepicker.js"></script>
    <script async src="https://kit.fontawesome.com/cb5449eda5.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script async type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script async nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- place project specific Javascript in this file -->

    {% endblock javascript %}

    {{ form.media }}

    <link rel="preload" href="{% static 'css/project.css' %}" as="style" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />


    {% tailwind_preload_css %}
    {% tailwind_css %}

    <link href="{% static 'css/iziToast.min.css' %}" rel="preload" as="style">
    <link href="{% static 'css/iziToast.min.css' %}" rel="stylesheet">
  </head>

  <body class="min-h-screen min-w-[100vw] max-w-[100vw] flex font-body transition-all duration-200 ease-out">


    {% include "snippets/sidenav.html" %}


    <main class="relative p-4">
      {% include "snippets/search.html" %}
      {% block content %} {% endblock content %}

      <div id="musicList" class="flex items-center space-x-6 min-h-[64px] min-w-[calc(100%_-_4rem)] md:min-w-[calc(100%_-_6rem)] md:left-[6rem] left-[4rem] bottom-0 z-[60] fixed bg-gray-900 border-t-2 border-t-yellow-400 py-1 px-3">
        <div class="img-area w-[60px] min-h-[60px] max-h-[60px] relative justify-items-center hover:cursor-pointer hover:shadow-xl flex items-center p-1">
          <img src="{% static 'images/card/manage-uploads.svg' %}" alt="" class="flex object-cover object-center w-[60px] h-[60px]">
        </div>

        <div class="play-pause hover:scale-110 reltaive w-[34px] h-[34px] p-1 justify-items-center hover:cursor-pointer hover:shadow-xl flex items-center rounded-full bg-yellow-200 transition-shadow duration-300 ease-in-out text-center">
          <svg class="flex w-[34px] h-[34px] object-cover items-center text-yellow-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path></svg>
        </div>

        <div class="song-details reltaive min-w-[30%] max-w-[30%]">
          <h3 class="name text-yellow-400 font-black tracking-wide truncate text-sm">Name</h3>
          <p class="artist text-gray-400 font-normal truncate text-xs animate-pulse">Listening</p>
        </div>

        <div class="reltaive w-[34px] h-[34px] p-1 justify-items-center hover:cursor-pointer hover:shadow-xl flex items-center rounded-full bg-yellow-200 transition-shadow duration-300 ease-in-out text-center">
          <svg id="prev" class="flex w-[34px] h-[34px] object-cover items-center text-yellow-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.445 14.832A1 1 0 0010 14v-2.798l5.445 3.63A1 1 0 0017 14V6a1 1 0 00-1.555-.832L10 8.798V6a1 1 0 00-1.555-.832l-6 4a1 1 0 000 1.664l6 4z"></path></svg>
        </div>

        <div class="progress-area">
          <div class="progress-bar">
            <audio id="main-audio" src=""></audio>
          </div>
          <div class="song-timer w-full justify-between flex">
            <span class="current-time">0:00</span>
            <span class="max-duration">0:00</span>
          </div>
        </div>

        <div class="reltaive w-[34px] h-[34px] p-1 justify-items-center hover:cursor-pointer hover:shadow-xl flex items-center rounded-full bg-yellow-200 transition-shadow duration-300 ease-in-out text-center">
          <svg id="next" class="flex w-[34px] h-[34px] object-cover items-center text-yellow-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4.555 5.168A1 1 0 003 6v8a1 1 0 001.555.832L10 11.202V14a1 1 0 001.555.832l6-4a1 1 0 000-1.664l-6-4A1 1 0 0010 6v2.798l-5.445-3.63z"></path></svg>
        </div>

        <div class="reltaive w-[34px] h-[34px] p-1 justify-items-center hover:cursor-pointer hover:shadow-xl flex items-center rounded-full transition-shadow duration-300 ease-in-out text-center">
          <svg id="moreMusic" class="flex w-[34px] h-[34px] object-cover items-center text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>
        </div>

        <div id="list" class="hidden music-list absolute bg-gray-900 min-w-[384px] max-w-sm min-h-min max-h-96 right-3 bottom-[77px] py-3 px-4 rounded-lg transition-all duration-500 ease-out z-50 overflow-y-scroll scrollbar-hide">
          <div class="header flex items-center relative justify-between">
            <div class="row flex items-center space-x-6">
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
              <span>Listening List</span>
            </div>
            <svg id="close" class="w-6 h-6 cursor-pointer hover:shadow-xl" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path></svg>
          </div>
          <ul class="overflow-y-scroll scrollbar-hide">
            <!-- here li list are coming from js -->
          </ul>
        </div>

      </div>
      <!-- <audio class="min-w-[calc(100%_-_4rem)] md:min-w-[calc(100%_-_6rem)] md:left-24 left-16 bottom-0 z-50 fixed bg-gray-900" preload="auto" id="audio" controls="controls" onended="func12();" src=""></audio> -->
    </main>



    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %} Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        /* Run whatever you want */
      });
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}

    {% if messages %}
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- <script crossorigin="anonymous" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    Your stuff: Third-party javascript libraries go here -->
    <script src="{% static 'js/iziToast.min.js' %}"></script>
    {% endif %}

    {% for message in messages %}
    <script type=text/javascript>
      iziToast.settings({
        timeout: 5000,
        position: 'topRight',
        drag: true,
        pauseOnHover: true,
        transitionIn: 'fadeInUp',
        transitionOut: 'fadeOutDown',
        transitionInMobile: 'fadeInUp',
        transitionOutMobile: 'fadeOutDown',
        close: true,
        displayMode: "replace",
        progressBar: true,
        progressBarEasing: 'ease',
        color: '{% if message.tags == "alert-success" %}green{% elif message.tags == "alert-warning" %}yellow{% elif message.tags == "alert-info" %}blue{% else %}red{% endif %}'
      });
      //iziToast.{{ message.tags }}({
      iziToast.show({
          balloon: true,
          layout: 2,
          id: '{{ message.tags }}',
          title: '{{ message.tags|capfirst }}',
          message: '{{ message }}',
          icon: '{% if message.tags == "alert-success" %}fa-solid fa-thumbs-up{% elif message.tags == "alert-warning" %}fa-solid fa-triangle-exclamation{elif message.tags == "alert-info"}fa-solid fa-circle-info{% else %}fa-solid fa-bug{% endif %}',
      });
    </script>
    {% endfor %}

    <script>
      function audioPlay(div) {
        var audio = document.getElementById('audio');
        audio.src = div;
        audio.play();
      };

      let radioStations = [
      {% for r in all_radios %}
      {
          index: "{{r.id}}",
          name: "{{r.name|title}}",
          img: "{{r.image.thumbnail.url}}",
          src: "{{r.mp3url}}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
      ]
    </script>
    <script async src="{% static 'js/project.js' %}"></script>
  </body>
</html>























<!-- {% for r in all_radios %}
            <li id="audioFiles" class="z-[60] relative flex items-center justify-between space-x-15 cursor-pointer hover:bg-white/10 py-2 px-4 rounded-lg group transition ease-out">
              <div class="flex items-center">
                <img
                  src="{% if r.image %}{{r.image.thumbnail.url}}{% else %}{% static 'images/album.jpg' %}{% endif %}"
                  alt=""
                  height="48"
                  width="48"
                  objectFit="contain"
                  class="rounded-xl h-12 w-12 object-cover mr-3"
                />
                <div>
                  <h4 class="text-white text-sm font-semibold truncate max-w-[120px]">
                    {{r.name|title}}
                  </h4>
                  <p
                    class="text-[rgb(179,179,179)] text-[13px] font-semibold group-hover:text-white"
                  >
                    {{r.description|safe|truncatechars:20}}
                  </p>
                </div>
              </div>

              <div class="md:ml-auto flex items-center space-x-2">
                <div
                  class="flex items-center rounded-full border-2 border-[#262626] w-[85px] h-10 relative cursor-pointer group-hover:border-white/40"
                >
                  <div class="text-[12px] ml-3 icon text-[#868686] hover:text-red-600 h-6 w-6">
                    {% heroicon 'heart' style='solid' %}
                  </div>
                  <a href="javascript:;" data-value="{{r.mp3url}}" onclick="audioPlay(this.getAttribute('data-value'))"
                    class="h-6 w-6 rounded-full border text-yellow-900 border-yellow-200 flex items-center justify-center absolute -right-[-10px] bg-[#dcdc21] icon hover:scale-110"
                  >
                    {% heroicon 'play' style='solid' %}
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}-->
