
{% extends "account/base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Account" %}{% endblock %}

{% block inner %}
<div>
  <img class="mx-auto h-12 w-auto animate-bounce" src="{% static 'images/favicons.svg' %}" alt="Workflow">
  <h2 class="mt-6 text-center text-3xl font-extrabold text-white">Email Settings</h2>
  <p class="mt-2 text-center text-sm text-slate-400">
    Or
    <a href="{% url 'users:detail' request.user.username %}" class="font-medium text-yellow-600 hover:text-yellow-500"> CANCEL </a>
  </p>

  <div class="space-y-4">
    {% if user.emailaddress_set.all %}
    <p class="mt-6 text-center text-sm font-extrabold text-white">{% translate 'The following e-mail addresses are associated with your account:' %}</p>

    <form action="{% url 'account_email' %}" class="email_list" method="post">
      {% csrf_token %}
      <fieldset class="blockLabels">

        {% for emailaddress in user.emailaddress_set.all %}
      <div class="radio w-full">
        <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

          <div class="w-full flex items-center justify-between">
            <div class="space-x-4 flex items-center">
              <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
              <span class="ml-6">{{ emailaddress.email }}</span>
            </div>
            <div class="space-x-4 flex items-center">
              {% if emailaddress.verified %}
              <span class="verified text-green-400 font-black text-sm">{% translate "Verified" %}</span>
              {% else %}
              <span class="unverified text-red-400 font-black text-sm">{% translate "Unverified" %}</span>
              {% endif %}
              {% if emailaddress.primary %}
              <span class="primary text-blue-500 font-black text-sm">{% translate "Primary" %}</span>
              {% endif %}
            </div>
          </div>



        </label>
      </div>
        {% endfor %}

      <div class="form-group space-y-3 mt-6">
          <button class="secondaryAction btn btn-primary block w-full justify-center py-2 px-4 border border-transparent text-sm uppercase font-bold rounded-md text-white-900 bg-blue-400 hover:bg-blue-300 focus:outline-none focus:ring-0 focus:shadow-primary hover:shadow-primary" type="submit" name="action_primary" >{% translate 'Make Primary' %}</button>
          <button class="secondaryAction btn btn-primary block w-full justify-center py-2 px-4 border border-transparent text-sm uppercase font-bold rounded-md text-yellow-900 bg-yellow-400 hover:bg-yellow-300 focus:outline-none focus:ring-0 focus:shadow-primary hover:shadow-primary" type="submit" name="action_send" >{% translate 'Re-send Verification' %}</button>
          <button class="primaryAction btn btn-primary block w-full justify-center py-2 px-4 border border-transparent text-sm uppercase font-bold rounded-md text-white bg-red-400 hover:bg-red-300 focus:outline-none focus:ring-0 focus:shadow-xl hover:shadow-xl" type="submit" name="action_remove" >{% translate 'Remove' %}</button>
      </div>

      </fieldset>
    </form>

    {% else %}
    <p class="mt-6 text-center text-sm font-extrabold text-yellow-200"><strong>{% translate 'Warning:'%}</strong> {% translate "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

    {% endif %}


    <h2 class="mt-14 text-center text-3xl font-extrabold text-white">{% translate "Add E-mail Address" %}</h2>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="border border-red-400 bg-red-300 text-red-900 px-4 py-6">
            {{ error }}
          </div>
        {% endfor %}
        {% endif %}
        <div class="rounded-md shadow-sm -space-y-px">
          <div id="div_id_login">
            <label class="form-label requiredField sr-only" for="id_email">E-mail<span class="asteriskField">*</span></label>
            <input autocomplete="email" class="textinput textInput form-control fbc-has-badge fbc-UID_1 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-sm" id="id_email" name="email" placeholder="E-mail address" required="" type="email">
          </div>
        </div>
        <button class="btn btn-primary group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm uppercase font-bold rounded-md text-yellow-900 bg-yellow-400 hover:bg-yellow-300 focus:outline-none focus:ring-0 focus:shadow-primary hover:shadow-primary" name="action_add" type="submit">{% translate "Add E-mail" %}</button>
    </form>
  </div>

</div>



{% endblock %}


{% block inline_javascript %}
{{ block.super }}
<script type="text/javascript">
window.addEventListener('DOMContentLoaded',function() {
  const message = "{% translate 'Do you really want to remove the selected e-mail address?' %}";
  const actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click",function(e) {
      if (!confirm(message)) {
        e.preventDefault();
      }
    });
  }
  Array.from(document.getElementsByClassName('form-group')).forEach(x => x.classList.remove('row'));
});
</script>
{% endblock %}
