{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
<div>
  <img class="mx-auto h-12 w-auto animate-bounce" src="{% static 'images/favicons.svg' %}" alt="Workflow">
  <h2 class="mt-6 text-center text-3xl font-extrabold text-white">Password Reset</h2>

  <div class="text-center mt-2">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
  </div>

  <p class="mt-2 text-center text-xl text-slate-400">
    We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
  </p>
</div>
{% endblock %}
