{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
  <div>
    <img class="mx-auto h-12 w-auto animate-bounce" src="{% static 'images/favicon.png' %}" alt="Workflow">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
      {% if token_fail %}
      Bad Token
      {% else %}
      Change Password
      {% endif %}
    </h2>
    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="mt-2 text-center text-sm text-slate-400">
      The password reset link was invalid, possibly because it has already been used.  Please request a
      <a href="{{ passwd_reset_url }}" class="font-medium text-yellow-600 hover:text-yellow-500">new password reset</a>.
    </p>
    {%endif%}
  </div>


  {% if not token_fail %}
      {% if form %}
          <form method="POST" action="." class="mt-8 space-y-6">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="relative w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-black bg-yellow-600 hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" type="submit" name="action" value="{% translate 'change password' %}"/>
          </form>
      {% else %}
          <p class="mt-2 text-center text-sm text-slate-400">{% translate 'Your password is now changed.' %}</p>
      {% endif %}
  {% endif %}
{% endblock %}
