{% extends "account/base.html" %}

{% load i18n static %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}
<div>
  <img class="mx-auto h-12 w-auto animate-bounce" src="{% static 'images/favicons.svg' %}" alt="Workflow">
  <h2 class="mt-6 text-center text-3xl font-extrabold text-white">Password Reset</h2>
  <div class="text-center ">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
  </div>
  <p class="mt-2 text-center text-xl ">
    Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
  </p>
</div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-8 space-y-6">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="border border-red-400 bg-red-300 text-red-900 px-4 py-6">
                {{ error }}
              </div>
            {% endfor %}
        {% endif %}

        <div class="rounded-md shadow-sm -space-y-px">
          <div id="div_id_email">
            <label class="form-label requiredField sr-only" for="id_email">E-mail<span class="asteriskField">*</span></label>
            <input autocomplete="email" class="textinput textInput form-control  fbc-has-badge fbc-UID_1 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-xl" id="id_email" name="email" placeholder="E-mail address" required="" type="email">
          </div>
        </div>


        <input class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-xl font-bold rounded-md text-yellow-900 bg-yellow-400 hover:bg-yellow-300 focus:outline-none focus:ring-0 focus:shadow-primary hover:shadow-primary" type="submit" value="{% translate 'Reset My Password' %}" />
    </form>

    <p class="text-xl text-center text-blue-300">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock %}
