@tailwind base;

@layer base {
  body {
    @apply font-dongle scrollbar-hide;
  }
}




@tailwind components;

@layer components {

  .hover-trigger .hover-target {
    display: none;
  }

  .hover-trigger:hover .hover-target {
    display: flex;
  }

  .mapboxgl-popup-content {
    @apply dark:bg-black/80 dark:hover:bg-black dark:text-white-200 bg-white-200/70 hover:bg-white-200 text-black rounded-lg duration-300;
  }
  .mapboxgl-ctrl-bottom-left a,
  .mapboxgl-ctrl-bottom-right a,
  .mapbox-logo {
    @apply hidden
  }
  .mapboxgl-popup-close-button {
    @apply right-1 top-1 border-none text-xl font-black dark:hover:text-white-200 hover:text-black focus:border-none hover:border-none duration-300;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(../../../static/images/marker.svg);
  }


  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    @apply border-b-white-200 dark:border-b-black;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    @apply border-t-white-200 dark:border-t-black;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    @apply border-r-white-200 dark:border-r-black;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    @apply border-l-white-200 dark:border-l-black;
  }

  .listings .item {
    display: block;
    border-bottom: 1px solid #484848;
    padding: 10px;
    text-decoration: none;
  }

  .listings .item:last-child {
    border-bottom: none;
  }

  .listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }

  .listings .item .title small {
    font-weight: 400;
  }

  .listings .item.active .title,
  .listings .item .title:hover {
    color: #8cc63f;
  }

  .listings .item.active {
    background-color: #f8f8f8;
  }




  /* Marker tweaks */


  .progress-area{
    @apply h-[6px] w-[40%] rounded-lg dark:bg-white-bg bg-black cursor-pointer;
  }
  .progress-area .progress-bar{
    @apply h-[inherit] w-[0%] relative rounded-[inherit] bg-live-bg dark:bg-primary;
  }
  .progress-bar::before{
    content: "";
    @apply absolute h-[12px] w-[12px] rounded-full top-[40%] -right-[5px] z-[2] opacity-0 pointer-events-none -translate-y-[40%] bg-inherit transition-opacity duration-200 ease-in-out;
  }
  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
  .progress-area .song-timer{
    margin-top: 2px;
  }
  .song-timer span{
    @apply text-sm text-live-bg dark:text-primary
  }
}




@tailwind utilities;

