@tailwind base;

@layer base {
  body {
    @apply font-dongle scrollbar-hide;
  }
}




@tailwind components;

@layer components {

  .hover-trigger .hover-target {
    display: none;
  }

  .hover-trigger:hover .hover-target {
    display: flex;
  }

  .mapboxgl-popup-content {
    @apply dark:bg-black/80 dark:hover:bg-black dark:text-white-200 bg-white-200/70 hover:bg-white-200 text-black rounded-lg duration-300;
  }
  .mapboxgl-ctrl-bottom-left a,
  .mapboxgl-ctrl-bottom-right a,
  .mapbox-logo {
    @apply hidden
  }
  .mapboxgl-popup-close-button {
    @apply right-1 top-1 border-none text-xl font-black dark:hover:text-white-200 hover:text-black focus:border-none hover:border-none duration-300;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(../../../static/images/marker.svg);
  }


  .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    @apply border-b-white-200 dark:border-b-black;
  }
  .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
  .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    @apply border-t-white-200 dark:border-t-black;
  }
  .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    @apply border-r-white-200 dark:border-r-black;
  }
  .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    @apply border-l-white-200 dark:border-l-black;
  }

  .listings .item {
    display: block;
    border-bottom: 1px solid #484848;
    padding: 10px;
    text-decoration: none;
  }

  .listings .item:last-child {
    border-bottom: none;
  }

  .listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
  }

  .listings .item .title small {
    font-weight: 400;
  }

  .listings .item.active .title,
  .listings .item .title:hover {
    color: #8cc63f;
  }

  .listings .item.active {
    background-color: #f8f8f8;
  }




  /* Marker tweaks */

  .croppedIcon {
    clip-path: inset(0 50% 0 0);
  }

  .progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #EBE6E9;
    cursor: pointer;
  }
  .progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, #FFCE45 0%, #D4AC2B 100%);
  }
  .progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
  }
  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
  .progress-area .song-timer{
    margin-top: 2px;
  }
  .song-timer span{
    font-size: 13px;
    color: #ABBBC2;
  }
}




@tailwind utilities;

