{% load static i18n model_name %}

{% if query %}
  <p class="text-xl">Returned <strong class="font-black">{{count}} results</strong> for <strong class="font-black">{{query}}</strong></p>
  {% if count > 0 %}
    <!-- TODO: all models come below here in their respective styles -->
    <div class="relative md:flex md:items-start md:space-x-4 space-y-4 w-full h-min">
      {% if podcasters %}
      <div class="flex-col w-full h-min">
        <h2 class="font-black text-2xl pl-2">Top Results</h2>
        <div class="scrollbar-hide flex items-center w-full p-2 h-min space-x-6 overflow-x-auto">
        {% for obj in object_list %}
          {% with obj|model_name as klass %}
            {% if klass == "User" %}
              <a href="{{obj.get_absolute_url}}" class="hover:scale-105 duration-300 text-center flex-none overflow-hidden relative w-36 rounded-md uppercase font-2xl">
                <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-cover w-36 h-36 shadow-lg rounded-full bg-black dark:bg-white-bg">
                <p class="text-xl uppercase">{{obj.username}}</p>
              </a>
            {% endif %}
          {% endwith %}
        {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>

    {% if podcasts %}
    <div class="flex-col w-full space-y-2 h-min">
      <div class="flex items-center justify-between px-2">
        <h2 class="font-black text-2xl">Top Podcasts</h2>
        <a href="{% url 'podcast:podcasts' %}" class="dark:text-primary text-xl uppercase font-black">view more</a>
      </div>
      <div class="scrollbar-hide flex items-center w-full h-min space-x-6 p-2 overflow-x-auto">
      {% for obj in podcasts %}
        <a href="{{obj.get_absolute_url}}" class="rounded-md w-36 h-min shadow-md p-1 hover:shadow-lg hover:scale-105 duration-300">
            <div class="flex-col flex items-center space-y-1">
              <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-contain w-36 h-36 rounded-lg">
              <div class="flex-col text-left w-full px-2 truncate leading-none">
                <h2 class="font-black text-xl leading-none">{{obj.name|upper|truncatechars:16}}</h2>
                <p class="text-md leading-none">{{obj.author.username|title|truncatechars:16}}</p>
              </div>
            </div>
        </a>
      {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if episodes %}
    <div class="flex-col w-full space-y-2 h-min">
      <div class="flex items-center justify-between px-2">
        <h2 class="font-black text-2xl">Top Episodes</h2>
        <a href="{% url 'podcast:podcasts' %}" class="dark:text-primary text-xl uppercase font-black">view more</a>
      </div>
      <div class="scrollbar-hide flex items-center w-full h-min space-x-6 p-2 overflow-x-auto">
      {% for obj in episodes %}
        <a href="{{obj.get_absolute_url}}" class="rounded-md w-36 h-min shadow-md p-1 hover:shadow-lg hover:scale-105 duration-300">
            <div class="flex-col flex items-center space-y-1">
              <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-contain w-36 h-36 rounded-lg">
              <div class="flex-col text-left w-full px-2 truncate leading-none">
                <h2 class="font-black text-xl leading-none">{{obj.name|upper|truncatechars:16}}</h2>
                <p class="text-md leading-none">{{obj.podcast.name|title|truncatechars:23}}</p>
              </div>
            </div>
        </a>
      {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if playlists and request.user.is_authenticated %}
    <div class="flex-col w-full space-y-2 h-min">
      <div class="flex items-center justify-between px-2">
        <h2 class="font-black text-2xl">Top Playlists</h2>

        <a href="{% url 'users:playlist' request.user.username %}" class="dark:text-primary text-xl uppercase font-black">view more</a>
      </div>
      <div class="scrollbar-hide flex items-center w-full h-min space-x-6 p-2 overflow-x-auto">
      {% for obj in playlists %}
        <a href="{{obj.get_absolute_url}}" class="rounded-md w-36 h-min shadow-md p-1 hover:shadow-lg hover:scale-105 duration-300">
            <div class="flex-col flex items-center space-y-1">
              <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title|truncatechars:10}} Cover Image" class="object-contain w-36 h-36 rounded-lg">
              <div class="flex-col text-left w-full px-2 truncate leading-none">
                <h2 class="font-black text-xl leading-none">{{obj.name|upper|truncatechars:16}}</h2>
                <p class="text-md leading-none">{{obj.owner.username|title|truncatechars:16}}</p>
              </div>
            </div>
        </a>
      {% endfor %}
      </div>
    </div>
    {% endif %}


  {% else %}
    <div class="max-h-[calc(100%_-_18rem)] w-full items-center flex-col space-y-2">
      <svg class="w-[27%] h-[27%] block mx-auto fill-current dark:text-gray-500 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2h-1.528A6 6 0 004 9.528V4z"></path><path fill-rule="evenodd" d="M8 10a4 4 0 00-3.446 6.032l-1.261 1.26a1 1 0 101.414 1.415l1.261-1.261A4 4 0 108 10zm-2 4a2 2 0 114 0 2 2 0 01-4 0z" clip-rule="evenodd"></path></svg>
      <h2 class="dark:text-gray-500 text-gray-500 font-black text-6xl text-center">No result</h2>
    </div>
  {% endif %}
{% else %}
<div class="w-full h-min">
  <div class="flex items-center justify-between w-full h-min"><h2 class="text-2xl font-black">Top Rated Podcasters</h2> <a href="javascript:;" class="text-xl text-live-bg dark:text-primary uppercase">View More</a></div>
  <div class="scrollbar-hide flex items-center w-full h-min space-x-6 overflow-x-auto">
    {% for obj in popular_podcaster %}
    <a href="{{obj.get_absolute_url}}" class="flex-none overflow-hidden relative w-36 rounded-md uppercase font-2xl">
      <img src="{% if obj.image.thumbnail %}{{obj.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.name|title}} image" class="object-contain w-36 h-36 shadow-lg rounded-full bg-black dark:bg-white-bg">
      <div class="text-xl text-center font-normal">{{obj.username|upper}}</div>
    </a>
  {% endfor %}
  </div>
</div>

<div class="w-full h-min">
  <div class="flex items-center justify-between w-full h-min"><h2 class="text-2xl font-black">Browse All</h2> <a href="javascript:;" class="text-xl text-live-bg dark:text-primary uppercase">View More</a></div>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-6">
    {% for obj in popular_genre %}
      <a href="{{obj.get_absolute_url}}" class="overflow-hidden relative w-full h-full p-4 rounded-md aspect-[1/1] uppercase font-2xl" style="background-color:{{obj.color|lower}};">
        <div class="my-auto w-full h-full block self-center text-4xl font-black">{{obj.name|upper}}</div>
        <img src="{% if obj.get_most_popular.image.thumbnail %}{{obj.get_most_popular.image.thumbnail.url}}{% else %}{% static 'images/favicons.svg' %}{% endif %}" alt="{{obj.get_most_popuar.name|title}} image" class="z-10 h-2/4 w-2/4 object-contain rotate-45 absolute -bottom-5 -right-5 shadow-lg rounded-md">
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}
