{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% url 'home' as home_url %}
{% url 'discover' as search_url %}
{% url 'radio' as about_url %}
{% url 'podcast:podcasts' as podcasts_url %}
{% url 'history' as history_url %}
{% url 'events' as event_url %}

<aside class="hidden md:flex md:flex-col md:w-48 md:h-screen md:py-4 md:flex-none md:space-y-5 md:shadow-xl dark:md:bg-black dark:md:border-r-1 shadow-md dark:md:border-gray-700 md:bg-white-200 md:border-r-1 z-50">
  <a href="/" class="flex items-center space-x-1 pl-6 w-full dark:text-white-200 text-font-darker">
    <h1 class="text-2xl font-black dark:text-white-200 uppercase tracking-wider leading-none">Radio<span class="text-primary underline leading-none">funk</span></h1>
  </a>

  <div class="flex flex-col space-y-4 w-full pl-6">
    <span class="uppercase text-md">{% trans 'menu' %}</span>


    <a href="/" class="hover-trigger h-6 py-1 flex flex-row items-center justify-between font-extrabold {% if request.path == home_url %}font-extrabold{% endif %} transition-all duration-200 ease-in-out">
      <div class=" flex items-center w-3/4 hover:bg-black dark:hover:bg-white-200 hover:text-white-200 dark:hover:text-black hover:px-3 {% if request.path == home_url %}bg-black dark:bg-white-200 text-white-200 dark:text-black px-3{% endif %} space-x-3 rounded-md duration-300">
        <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
        <span class="flex-none text-xl pt-1">{% trans 'Home' %}</span>
      </div>

      <div class="{% if not request.path == home_url %}hover-target{% endif %} h-7 w-2 rounded-l-md bg-black dark:bg-white-200 duration-300"></div>
    </a>

    <a href="{{search_url}}" class="hover-trigger h-6 py-1 flex flex-row items-center justify-between font-extrabold {% if request.path == search_url %}font-extrabold{% endif %} transition-all duration-200 ease-in-out">
      <div class=" flex items-center w-3/4 hover:bg-black dark:hover:bg-white-200 hover:text-white-200 dark:hover:text-black hover:px-3 {% if request.path == search_url %}bg-black dark:bg-white-200 text-white-200 dark:text-black px-3{% endif %} space-x-3 rounded-md duration-300">
        <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
        <span class="flex-none text-xl pt-1">{% trans 'Explore' %}</span>
      </div>

      <div class="{% if not request.path == search_url %}hover-target{% endif %} h-7 w-2 rounded-l-md bg-black dark:bg-white-200 duration-300"></div>
    </a>

    <!-- <a href="{{about_url}}" class="hover-trigger h-6 py-1 flex flex-row items-center justify-between font-extrabold {% if request.path == about_url %}font-extrabold{% endif %} transition-all duration-200 ease-in-out">
      <div class=" flex items-center w-3/4 hover:bg-black dark:hover:bg-white-200 hover:text-white-200 dark:hover:text-black hover:px-3 {% if request.path == about_url %}bg-black dark:bg-white-200 text-white-200 dark:text-black px-3{% endif %} space-x-3 rounded-md duration-300">
        <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 3.636a1 1 0 010 1.414 7 7 0 000 9.9 1 1 0 11-1.414 1.414 9 9 0 010-12.728 1 1 0 011.414 0zm9.9 0a1 1 0 011.414 0 9 9 0 010 12.728 1 1 0 11-1.414-1.414 7 7 0 000-9.9 1 1 0 010-1.414zM7.879 6.464a1 1 0 010 1.414 3 3 0 000 4.243 1 1 0 11-1.415 1.414 5 5 0 010-7.07 1 1 0 011.415 0zm4.242 0a1 1 0 011.415 0 5 5 0 010 7.072 1 1 0 01-1.415-1.415 3 3 0 000-4.242 1 1 0 010-1.415zM10 9a1 1 0 011 1v.01a1 1 0 11-2 0V10a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
        <span class="flex-none text-xl pt-1">{% trans 'Radio' %}</span>
      </div>

      <div class="{% if not request.path == about_url %}hover-target{% endif %} h-7 w-2 rounded-l-md bg-black dark:bg-white-200 duration-300"></div>
    </a>
 -->
    <a href="{{podcasts_url}}" class="hover-trigger h-6 py-1 flex flex-row items-center justify-between font-extrabold {% if request.path == podcasts_url %}font-extrabold{% endif %} transition-all duration-200 ease-in-out">
      <div class=" flex items-center w-3/4 hover:bg-black dark:hover:bg-white-200 hover:text-white-200 dark:hover:text-black hover:px-3 {% if request.path == podcasts_url %}bg-black dark:bg-white-200 text-white-200 dark:text-black px-3{% endif %} space-x-3 rounded-md duration-300">
        <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z" clip-rule="evenodd"></path></svg>
        <span class="flex-none text-xl pt-1">{% trans 'Podcast' %}</span>
      </div>

      <div class="{% if not request.path == podcasts_url %}hover-target{% endif %} h-7 w-2 rounded-l-md bg-black dark:bg-white-200 duration-300"></div>
    </a>

    <a href="{{event_url}}" class="hover-trigger h-6 py-1 flex flex-row items-center justify-between font-extrabold {% if request.path == event_url %}font-extrabold{% endif %} transition-all duration-200 ease-in-out">
      <div class=" flex items-center w-3/4 hover:bg-black dark:hover:bg-white-200 hover:text-white-200 dark:hover:text-black hover:px-3 {% if request.path == event_url %}bg-black dark:bg-white-200 text-white-200 dark:text-black px-3{% endif %} space-x-3 rounded-md duration-300">
        <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>
        <span class="flex-none text-xl pt-1">{% trans 'Live' %}</span>
      </div>

      <div class="{% if not request.path == event_url %}hover-target{% endif %} h-7 w-2 rounded-l-md bg-black dark:bg-white-200 duration-300"></div>
    </a>
  </div>

  {% if request.user.is_authenticated %}
  <div class="flex flex-col space-y-2 w-full pl-6">
    <span class="uppercase text-md">{% trans 'library' %}</span>
    <!-- <a href="/" class="h-6 py-1 flex flex-row items-center justify-start space-x-2 hover:border-r-4 hover:border-r-primary hover:text-primary hover:font-extrabold transition-all duration-200 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{% trans 'Recent' %}</span>
    </a> -->
    <a href="javascript:;" @click="favorite = ! favorite" class="h-6 py-1 flex flex-row items-center justify-start space-x-2 hover:border-r-4 hover:border-r-primary hover:text-primary hover:font-extrabold transition-all duration-200 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{% trans 'Favorites' %}</span>
    </a>
    {% if request.user.is_authenticated %}
    <a href="javascript:;" @click="playlist = ! playlist" class="h-6 py-1 flex flex-row items-center justify-start space-x-2 hover:border-r-4 hover:border-r-primary hover:text-primary hover:font-extrabold transition-all duration-200 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{% trans 'Create Playlist' %}</span>
    </a>
    {% endif %}

    <!-- {% if playlist %}
    {% for p in playlist %}
    <a href="{{p.get_absolute_url}}" class="h-6 py-1 flex flex-row items-center justify-start space-x-2 hover:border-r-4 hover:border-r-primary hover:text-primary hover:font-extrabold transition-all duration-200 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{{p.name|title|truncatechars:15}}</span>
    </a>
    {% endfor %}
    {% endif %} -->
  </div>
  {% endif %}

  <!-- <div class="flex flex-col space-y-2 w-full pl-6">
    <span class="uppercase text-md">playlist</span>
    {% if request.user.is_authenticated %}
    <a href="javascript:;" @click="playlist = ! playlist" class="h-6 py-1 flex flex-row items-center justify-start space-x-2 hover:border-r-4 hover:border-r-primary hover:text-primary hover:font-extrabold transition-all duration-200 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{% trans 'Create New' %}</span>
    </a>
    {% endif %}
    <a href="/" class="h-6 py-1 flex flex-row items-center justify-start space-x-2 hover:border-r-4 hover:border-r-primary hover:text-primary hover:font-extrabold transition-all duration-200 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">Hot 100</span>
    </a>
    <a href="/" class="h-6 py-1 flex flex-row items-center justify-start space-x-2 hover:border-r-4 hover:border-r-primary hover:text-primary hover:font-extrabold transition-all duration-200 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{{location_country_code|upper}} Top 50</span>
    </a>
  </div> -->

  <div class="flex flex-col space-y-2 w-full pl-6">
    <span class="uppercase text-md">{% trans 'General' %}</span>
    {% if request.user.is_authenticated %}
    <a href="{% url 'users:detail' request.user.username %}" class="text-font-darker font-black py-1 flex items-center w-4/5 bg-primary dark:text-black px-3  space-x-3 hover:space-x-8 rounded-md transition-all duration-300 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{% trans 'Settings' %}</span>
    </a>
    <a href="{% url 'account_logout' %}" class="text-font-darker font-black py-1 flex items-center w-4/5 bg-live-bg dark:text-black px-3  space-x-3 hover:space-x-8 rounded-md transition-all duration-300 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
      <span class="flex-none text-xl pt-1">{% trans 'Log Out' %}</span>
    </a>
    {% else %}
    <a href="{% url 'account_login' %}" class="text-font-darker font-black py-1 flex items-center w-4/5 bg-primary dark:text-black px-3  space-x-8 hover:space-x-3 rounded-md transition-all duration-300 ease-in-out">
      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z"></path></svg>
      <span class="flex-none text-xl pt-1">{% trans 'Log In' %}</span>
    </a>
    {% endif %}
  </div>




    <a href="javascript:;" @click="lang_open = ! lang_open" :class="{'focus:space-x-6 hover:space-x-6':lang_open === true, 'focus:space-x-2 hover:space-x-2':lang_open === false}" class="fixed bottom-0 left-0 h-6 py-1 pl-6 pb-8 pr-4 flex flex-row items-center justify-between space-x-2 hover:space-x-6 focus:space-x-6 text-black dark:text-white-200 hover:font-extrabold duration-700 ease-in-out">
      <div class="flex items-center space-x-2">
        <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd"></path></svg>
        <span class="flex-none text-xl pt-1">{{LANGUAGE_CODE|upper}}</span>
      </div>

      <svg class="w-4 h-4 fill-current" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path><path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
    </a>
</aside>


